---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  className?: string;
  subtitle: string;
  items: CollectionEntry<'talks'>[];
  itemLabel: string;
}

const { className = '', subtitle, items, itemLabel } = Astro.props;
---

<div class={`media-grid ${className}`}>
  <h2 class="subhead">{subtitle}</h2>
  <div class="media-items">
    {items.map(item => (
      <div class="media-item">
        {item.data.posterImg && (
          <img src={item.data.posterImg} alt="" />
        )}
        <h3>
          <a href={item.data.path}>{item.data.title}</a>
        </h3>
        {item.data.videoSrcURL && (
          <div class="video-embed">
            <iframe 
              src={item.data.videoSrcURL} 
              title={item.data.videoTitle}
              allowfullscreen
            ></iframe>
          </div>
        )}
      </div>
    ))}
  </div>
</div>
