---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import List from '../components/List.astro';
import MediaGrid from '../components/MediaGrid.astro';
import ImageGrid from "../components/ImageGrid.astro";
import NewsletterForm from '../components/NewsletterForm.astro';
import LinkList from '../components/LinkList.astro';
import Items from "../data/links.json";

import homepageImage from '../site-images/react-rally-marcy-lg.jpg';
import featureImage from '../site-images/testing-accessibility-banner-2@2x.png';

// Get content collections
const allPosts = await getCollection('posts');
const allFeatures = await getCollection('features');
const allTalks = await getCollection('talks');
const galleryPhotos = import.meta.glob<{ default: ImageMetadata }>('/src/gallery/*.{jpeg,jpg,png,gif}');
const sevenItems = Object.values(Items).slice(0, 7);

// Sort posts by date (most recent first)
const recentPosts = allPosts
  // .filter(post => !post.data.homeList === false && !post.data.unlisted)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);

// Get featured item (Testing Accessibility)
const featuredFeature = allFeatures.find(feature =>
  feature.id === 'testing-accessibility'
);

// Sort talks by date (most recent first)
const recentTalks = allTalks
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);

  console.log(featuredFeature)
---

<BaseLayout
  title="Home"
  bodyClass="home"
  pathname="/"
>
  <div class="feature-list-wrap">
    {featuredFeature && (
      <section class="feature">
        <Image src={featureImage} alt="" />
        <div class="breathing-room">
          <h2 class="subhead">Latest:Feature</h2>
          <h3><a href={featuredFeature.data.path}>{featuredFeature.data.title}</a></h3>
          <p set:html={featuredFeature.data.description}></p>
          {featuredFeature.data.extendedDescription && (
            <div set:html={featuredFeature.data.extendedDescription}></div>
          )}
        </div>
      </section>
    )}

    <div class="home-aside">
      <div class="service-tagline breathing-room">
        <h2>I'm a senior web developer with a specialty in frontend accessibility.</h2>
        <p>Learn <a href="/about/">about my work</a>.</p>
      </div>

      <List
        className="list-writing-home breathing-room"
        subtitle="Latest:Writing"
        items={recentPosts}
        showExcerpts={false}
        listName="writing"
      />
    </div>
  </div>

  <NewsletterForm className="home breathing-room" />

  <section aria-label="talks">
    <MediaGrid
      className="media-talks-home"
      subtitle="I've spoken at some conferences:"
      items={recentTalks}
      itemLabel="talks"
      allItems={false}
    />
  </section>

  <section class="list-image-wrap" aria-label="links">
    <div class="list list-links-home breathing-room">
      <h2 class="subhead">Latest:Professional</h2>
      <LinkList 
          className="list-links no-background"
          items={ sevenItems }
          listName="links"
          allItems={false}
          linkNewWindow={true} />
    </div>
    <div class="professional-image">
      <Image src={homepageImage} alt="Marcy speaking at React Rally in 2016" />
    </div>
  </section>

  <section aria-label="Photos">
    <ImageGrid subtitle="Photo gallery" className="media-photos-home" images={galleryPhotos} />
  </section>
</BaseLayout>
