---
import MoreLink from './MoreLink.astro';

export interface Props {
  className?: string;
  subtitle?: string;
  subhead?: string;
  items: Array<{id?: string; name: string; link: string}>;
  allItems?: boolean;
  listName: string;
  linkNewWindow?: boolean;
}

const {
  className = '',
  subtitle,
  subhead,
  items,
  allItems,
  listName,
  linkNewWindow = false
} = Astro.props;
---

<div class={`link-list list ${className}`}>
  {subtitle && <h2 class="subhead">{subtitle}</h2>}
  <ul>
    {Array.from(items).map(item => (
      <li>
        <a
          class="item"
          href={item.link}
          target={linkNewWindow ? '_blank' : undefined}
          rel={linkNewWindow ? 'noopener noreferrer' : undefined}
        >
          {item.name}
        </a>
      </li>
    ))}
    { allItems ? null : <MoreLink itemLabel={listName} /> }
  </ul>
</div>
