---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import MoreLink from './MoreLink.astro';

export interface Props {
  className?: string;
  subtitle?: string;
  items: CollectionEntry<'talks'>[];
  itemLabel: string;
  allItems?: boolean;
}

const { className = '', subtitle, items, allItems = false, itemLabel } = Astro.props;

---

<div class={`media-grid ${className}`}>
  {subtitle && <h2 class="subhead">{subtitle}</h2>}
  <ul class="media-items">
    {items.map(item => (
      <li class="media-item">
        <a href={item.data.path}>
          <Image src={item.data.posterImg} alt=""/>
          {item.data.title}
        </a>
      </li>
    ))}
  </ul>
  { allItems ? null : 
    <MoreLink itemLabel={itemLabel} />
  }
</div>