---
import '../css/default.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  title: string;
  description?: string;
  image?: string;
  pathname?: string;
  bodyClass?: string;
}

const { title, description = "Independent Web Development Consultant and Accessibility Advocate", image, pathname, bodyClass } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={new URL(image, Astro.url)} />}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:creator" content="@marcysutton" />
    {image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}

    <title>{title} - MarcySutton.com</title>

    <!-- Font imports -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class={bodyClass} id="site-wrap">
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" aria-hidden="true" focusable="false">
      <defs>
        <symbol id="icon-triangle-right" width="1024" height="1024" viewBox="0 0 1024 1024">
          <path d="M1024 512l-921.6 512v-1024l921.6 512z"></path>
        </symbol>
      </defs>
    </svg>

    <Header pathname={pathname} />

    <main id="main" role="main" tabindex="-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
